- content_for(:title,  "Index")

.container
  .center.jumbotron
    %h2 Добро пожаловать в Experteese
    %h3
      Пример приложения на Ruby on Rails.

    %p
    - if signed_in?
      = link_to "Экспертиза", work_path
    - else
    %p
      = link_to "Регистрация", signup_path