- content_for(:title, "Index")

.container{:style=>"text-align:center;  height:400px;"}
    %h2 Welcome to the Experteese
    %h3 Ruby on Rails sample application
    %p
        = link_to "Proceed to work!", work_path, class: "btn btn-lg btn-primary"
    %p
        = link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary"