- content_for(:title,  "Index")

.container{:style=>"text-align:center;  height:400px;"}
    %h2 Добро пожаловать в Experteese
    %h3Пример приложения на Ruby on Rails.
    %p
        = link_to "Экспертиза", work_path
    %p
        = link_to "Регистрация", signup_path