%footer.footer
  .footer_menu
    %div{:style=>"background-color:lavender; padding-left:5%;"}
      =link_to t('home'), root_path
      = link_to t('Contacts'), contacts_path
      = link_to t('about'), about_path
      = link_to t('help'), help_path
      %br
        2017 .RUBY. = 'Copyright (c)'All rights reserved
